header .navbar {
    border-radius: 0;
    background: #039bd3;
}

header .navbar a {
    color: #fff;
}

#tx-table {
    font-size: 14px
}

#tx-table tr {
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
.payment {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #d8d8d8;
    font-size: 12px;
}

.acc_overflow {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrp-tb-tr {
    margin-bottom: 7px;
}

.be3in1{
    display: inline-block;
    padding:0;
    margin:0;
    float:none;
    width:32%;
}
.be2in1{
    display: inline-block;
    padding:0;
    margin:0;
    float:none;
    width:48%;
}

#footer-div {
    padding-left: 40px;
}

.payments {
    margin-bottom: 30px;
}
